:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.store-container {
  display: block;
  width: 99vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4.2em;
  color: #ffffff;
  margin-top: 24px;
}

h2{
  color: #d71f84;
  font-size: 3.4em;
  padding: 8px;
  margin-top: 2px;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 3px;
  margin-left: 2px;
}

img .product{
  width: 500px;
}

.trolley {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 130px;
  margin-top: 20px;
  margin-left: 2px ;
  position: absolute;
}

.cartIcon{
  width: 40px;
  margin-top: 40px; 
}

.button-container{
  display:flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categoryButton{
  background-color: blueviolet;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin-left: 60px;
  font-size: 18px;
  border-radius: 8px;
}

.categoryButton:hover {
  background-color: #fdeb6b;
}

.categoryButtonSelected:hover {
  background-color: #d71f84;
}

.icon{
  width: 20px;
  cursor: pointer;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.product_cart {
  box-sizing: border-box;
  display: inline-block;
  background-color: #FEFFA7;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 234px;
  height: 56vh;
  overflow: hidden;
  margin-left: 18px;
  margin-top: 12px;
  position: relative;
}

.product_cart img {
width: 80px;
height: 80px;
object-fit: cover;
border-radius: 10px;
}

.product_cart button {
  background-color: #006BFF;
  margin: 12px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 1024px) {
.product_cart {
  width: 200px;
  height: 23vh;
  margin-left: 55px;
}

.categoryButton{
  margin-left: 35px;
  padding: 12px;
}
}

@media (max-width: 820px) {
.product_cart {
  height: 27vh;
  margin-left: 150px;
  width: 167px;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.categoryButton{
  margin-left: 20px;
  font-size: 15px;
  width: 128px;
}
}

@media (max-width: 768px) {
.product_cart {
  height: 31vh;
  margin-left: 130px;
}

.categoryButton{
  margin-left: 10px;
}

.cartIcon{
  height: 50px;
}

.icon{
  height: 30px;
}
}

@media (max-width: 430px) {
.product_cart {
  height: 31vh;
}

.product_cart img {
  width: 50px;
  height: 50px;
}

.categoryButton{
  margin-left: 5px;
  font-size: 11px;
  width: 90px;
  padding: 8px;
}
}


@media (max-width: 400px) {
.product_cart {
  height: 39vh;
}

h5{
  font-size: 8px;
}

.trolley {
  width: 70px;
}

.trolley h3 {
  font-size: 12px;
}

.cartIcon{
  height: 30px;
  width: 30px;
}
}

@media (max-width: 375px) {
.product_cart {
  height: 56vh;
}

h5{
  font-size: 6px;
}
}